.home-container{
    // height: 100vh;
    // background: lightgray;
    .fixed-button{
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .fixed-button{
        position: fixed;
        bottom: 40px;
        right: 40px;
    }
}